body{
    background-color:white;
    color:black;
}
.mydark{
    background-color:black;
    color:blue;
}

.changmode{
    margin-top: 8px;
    font-size: 20px;
    border: 0px;
    background-color: #4c54cc;
}

/*header*/
.update{
    background-color: #2c2cc1cf !important;
    border: none !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff !important;
}




/*body*/

#bodymain{
    width:100%;
}

/*coupon start*/
#coupon{
    background-color:white;
    margin-left: 35%;
    margin-top: 5%;
    width: 30%;
    z-index: 100;
    position: absolute;
}

.textcont{
    background: linear-gradient(45deg, #ef0c0c, transparent);
    display: inline-block;
    width: 92%;
}

.I{
    color:black;
    float: right;
}

.disscount{
    background-image: url(images/cars.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position: right;
    background-size: 80%;
}

.disscount>img{
    width: 80px;
    margin-top: -133px;
}

.II{
    color: red;
    font-size: 15px;
    font-style: italic;
}

.III{
    color:orange;
    font-size:35px;
    font-style: italic;
}

.IV{
    color: orange;
    font-size: 35px;
    font-style: italic;
    margin-top: 70px;
}

.offers{
    background-image: url(images/service.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
}

.offers > p{
    margin-top: 30%;
    margin-left: 57%;
    background: linear-gradient(0deg, orange, transparent);
}

.price{
    background: linear-gradient(45deg, red, transparent);
    width: 50%;
    color:white;
    font-size:25px;
}

.off{
    background: linear-gradient(45deg, black, transparent);
    color: white;
    width: 30%;
    margin-left: 20%;
}

.last{
    background: linear-gradient(45deg, #ef0c0c, transparent);
}

/*coupon end*/

#olximg{
    width: 100%;
    margin-top:-20px;
    height: 250px;
    background-color: #0b0bc3bf;
}

#olximg > img{
    width: 60%;
    height: 380px;
    margin-left: 25%;
}

#main{
    width:100%; 
    margin-left:0px !important; 
}



.size >img {
    height: 300px !important;
}

.size2 >img{
    height:300px !important;
    width:100% !important;
}

.size3>img{
    height: 300px !important;
    width: 55% !important;
    float: right;
}

#container {
    margin-top:20px;
}

#containerI> a> button, #containerII >a>button, #containerIII >a>button, #containerIV >a> button{
    height: 100px;
    width: 100%;
    border-radius: 50px;
}

#containerI{
    display:inline-block;
    width:20%;
    margin-left:2%;
}

#containerI> a> button{
    font-size: 30px;
}

#containerII{
    display:inline-block;
    width:20%;
    margin-left:5%;
}

#containerII> a> button{
    font-size: 30px;
}

#containerIII{
    display:inline-block;
    width:20%;
    margin-left:5%;
}

#containerIII> a> button{
    font-size: 30px;
}

#containerIV{
    display:inline-block;
    width:20%;
    margin-left:5%;
}

#containerIV> a> button{
    font-size: 30px;
}


/*footer*/

#footcontainer{
    width:100%;
    background-color: mintcream;
}

.popularcont , .trendingcont , .aboutcont{
    Width:20%;
    display: inline-block;
}

.followcont{
    Width:39%;
    text-align: center;
    display: inline-block;
}

h4{
    margin-left: 15px;
    font-family: system-ui !important;
}

.popularcont>p, .trendingcont>p, .aboutcont>p{
    margin-left: 15px;
}

.facebook, .instagram, .github{
    font-size: 30px;
    margin-left: 10px;
}

.developer{
    Width: 100%;
    background-color: lightslategray;
}


.Developer>h2{
    text-align:center;
}


/*Temp and location*/
  
  .container {
    overflow: hidden;
    display: inline-block;
    position: relative;
    height: 100px;
    width: 370px !important;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 20%);
  }
  
  /*  BACKGROUND  */
  
  .Circle1 {
    z-index: 100;
    position: absolute;
    height: 80px;
    width: 80px;
    right: -20px;
    top: -30px;
    border-radius: 50%;
    background-color: rgba(253, 184, 19, 1);
    animation: enlarge;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  
  .Circle2 {
    z-index: 80;
    position: absolute;
    height: 150px;
    width: 150px;
    right: -50px;
    top: -70px;
    border-radius: 50%;
    background-color: rgba(246, 140, 31, 0.7);
  
    animation: enlarge;
    animation-duration: 7s;
    animation-iteration-count: infinite;
  }
  
  .Circle3 {
    z-index: 50;
    position: absolute;
    height: 200px;
    width: 200px;
    right: -50px;
    top: -100px;
    border-radius: 50%;
    background-color: rgba(241, 125, 45, 0.7);
  
    animation: enlarge;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
  /*  CONTENT  */
  
  .sun {
    z-index: 1000;
    font-size: 15px !important;
  }
  
  .Condition {
    z-index: 1000;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 20px;
    left: 20px;
    top: 10px;
  }
  
  .Temp {
    z-index: 1000;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: 400;
    left: 20px;
    bottom: 5px;
  }
  
  #F {
    z-index: 1000;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 30px;
  }
  
  .Time {
    z-index: 1000;
    position: absolute;
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    font-weight: 200;
    right: 20px;
    top: 10px;
  }
  
  .locationIcon {
    z-index: 1000;
    font-size: 10px !important;
  }
  
  .Location {
    z-index: 1000;
    position: absolute;
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-weight: 200;
    right: 20px;
    bottom: 15px;
  }
  
  @keyframes enlarge {
    50% {
      transform: scale(1.2);
    }
  }
  

@media screen and (max-width:700px){
    navbar-right {
        float: right!important;
        margin-right: -15px;
    }
}

/*......1000PX..........*/

@media screen and (max-width:1000px){
    #containerI{
        display:inline-block;
        width:40%;
        margin-left:10%;
    }
    
}

@media screen and (max-width:1000px){
    #containerII{
        display:inline-block;
        width:40%;
        margin-left:2%;
    }
    
}

@media screen and (max-width:1000px){
    #containerIII{
        display:inline-block;
        width:40%;
        margin-left:10%;
        margin-top:2%;
    }
    
}

@media screen and (max-width:1000px){
    #containerIV{
        display:inline-block;
        width:40%;
        margin-left:2%;
    }
    
}

/*........515PX........*/

@media screen and (max-width:515px){
    #containerI{
        display:inline-block;
        width:45%;
        margin-left:6%;
    }
    
}

@media screen and (max-width:515px){
    #containerII{
        display:inline-block;
        width:45%;
        margin-left:2%;
    }
    
}

@media screen and (max-width:515px){
    #containerIII{
        display:inline-block;
        width:45%;
        margin-left:6%;
        margin-top:2%;
    }
    
}

@media screen and (max-width:515px){
    #containerIV{
        display:inline-block;
        width:45%;
        margin-left:2%;
    }
    
}

