
#bodycontainer{
    background-image: url(olx.png);
    background-size: 50px;
}

#filtercont{
    width:100%;
    height:200px;
    background-color: white;
    border:2px solid black;
}

#maincont{
    width:100%;
    border:2px solid red;

}

.container{
    margin-left: 8px !important;
    margin-top:35px;
    width: 24% !important;
    height: 300px;
    display: inline-block;
    box-shadow: 2px 5px 2px;
    background-color: white;
}